  <%= flash[:notice] %>
<div class= "container">
 <div class= "row">
  <div class= "col-md-3">
 <%= render "books/list" ,{book: @book,user: @user} %>
 </div>
<!-- ユーザーの詳細 -->
   <div class="col-md-8 offset-md-1">
<div>
  <h2>User info</h2>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <%= link_to user_path do %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>
  <%if @user ==current_user %>
    <%= link_to  edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
    <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
    <% end %>
  <%= book.body %>
  <%= book.user.name %>
</div>
<% end %>
 </div>
  </div>
    </div>