<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--<script src="https://kit.fontawesome.com/d0063141dd.js" crossorigin="anonymous"></script>-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bookers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <% if user_signed_in? %>
                <li class="nav-item active">
               <%= link_to user_path(current_user.id), class: 'nav-link' do %>
                  <i class="fas fa-home"></i>Home
                <% end %>
              </li>
                    <li class="nav-item active">
                <%= link_to users_path, class: 'nav-link' do %>
                  <i class="fas fa-users"></i>Users
                <% end %>
              </li>
                    <li class="nav-item active">
                <%= link_to books_path, class: 'nav-link' do %>
                  <i class="fas fa-book-open"></i>Books
                <% end %>
              </li>
                    <li class="nav-item active">
                <%= link_to  destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                 <i class="fas fa-sign-out-alt"></i>Log out
                <% end %>
              </li>
              <% else %>
                         <li class="nav-item active">
                <%= link_to  root_path , class: 'nav-link' do %>
                   <i class="fas fa-home"></i>Home
                   <% end %>
               </li>
                          <li class="nav-item active">
                <%= link_to  home_about_path, class: 'nav-link' do %>
                   <i class="fas fa-link"></i>About
               <% end %>
               </li>
                      <li class="nav-item active">
                <%= link_to new_user_registration_path, class: 'nav-link' do %>
                  <i class="fas fa-user-plus"></i>Sign up
                <% end %>
                </li>
                       <li class="nav-item active">
                <%= link_to  new_user_session_path, class: 'nav-link' do %>
                   <i class="fas fa-sign-in-alt"></i>Log in
                   <% end %>
                   </li>
             <% end %>
    </ul>
  </div>
</nav>
  
            </div>
          </div>
        </div>
      </nav>
  </header>
  <main>
    <%= yield %>
    </main>
    <footer>CopyRight Infratop.inc</footer>
  </body>
</html>
